.FiltersCard{
    width: 315px;
    padding: 20px;
    height: 360px;
}

.cardSection{
    border: 0;
}

.cardHeader{
    margin-top: 10px; 
    justify-content: space-between; 
}

.cardTitle{
    font-weight: 700;
    font-size: 20px;

}

.cleaningButton{
    background-color: transparent;
    border: 0;
    height: 20px;
    margin-top: 2px;
    padding: 0;

}

.cleanAllDiv{
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 115px;
}

.cleanAllText{
    font-weight: 500;
    font-size: 14px;
    margin: 0;
    color: var(--grey);
    font-family: Inter;
}

.cardSubtitle{
    font-weight: 700;
    font-size: 16px;
}

.industry{
    margin-top: 24px;
}

.industryInput{
    height: 40px ;
}

.salary{
    margin-top: 20px;
}

.salaryInput{
    margin-top: 8px;
}