.SelectField{
    border-color: transparent;
    height: 42px;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    position: relative;
    margin-top: 8px;
    
}

.VectorSelectListWrapper{
    width: 24px;
    height: 24px;
    position: absolute;
    right: 12px;
}

.VectorSelectList{
    height: 100%;
    // width: 50%;
}